.body_backgorund 
{
    background-color: rgb(0, 0, 0);
    background-position:center;
    background-size:cover;
    color: rgb(255, 255, 255);
}
#myCanvas
{
   border: 2px solid rgb(255,255,255)
}
button{
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}
